/// button module name
/// @type String
$btn-name: 'btn' !default;
/// hover color 
/// @type Number
$btn-hover: 30% !default;
/// outline button border width
/// @type Length
$btn-outline-border: 2px !default;
/// round button border radius
/// @type Length
$btn-round-radius: 5em !default;
/// background color
/// @type Map
$btn-background: (
  'default': $color-gray,
  'success': $color-green,
  'danger': $color-red,
  'warning': $color-yellow,
  'info': $color-blue 
) !default;

.#{$btn-name} {
  transition: all 0.3s;
  min-width: 5em;
  margin-bottom: $space-sm;
  padding: $space-sm $space-md;
  border: $btn-outline-border solid transparent;
  cursor: pointer;
  color: $color-white;
  
  &--large {
    font-size: $text-lg;
  }
  
  &--small {
    font-size: $text-sm;
  }
  
  &--bold {
    font-weight: bold;
  }
  
  &--upper {
    text-transform: uppercase;
  }
  
  &--block {
    display: block;
    width: 100%;
  }
}

@mixin btn-outline($color) {
  border: $btn-outline-border solid $color;
  border-radius: 1px;
  background-color: $color-white;
  color: $color;
    
  @include on-event {
    background-color: $color;
    color: $color-white;
  }
}

@each $key, $value in $btn-background {
  .#{$btn-name}--#{$key} {
    background-color: $value;
    
    @include on-event {
      background: tint($value, $btn-hover);
    }
  }
  
  .#{$btn-name}--outline-#{$key} {
    @include btn-outline($value);
  }

  .#{$btn-name}--round-#{$key} {
    @include btn-outline($value);
    border-radius: $btn-round-radius;
  }
}
