////
/// Global typography variablse defination
/// @group Typography
/// @author sabertazimi
////

/// Font family stack
/// @type List
$font-stack: ('Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif, serif) !default;

/// Root text font scale ratio
/// @type Number
$root-scale-ratio: 100% !default;
$root-base-size: 16px * ($root-scale-ratio / 100%) !default;
/// Base text font size
/// @type Length
$text-base-size: 1rem !default;
/// Scale ratio for font size
/// @type Number
$text-scale-ratio: 1.2 !default;

/// Text font-size group
/// @type Length
$text-xxxs: ($text-base-size / ($text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio)) !default;
/// Text font-size group
/// @type Length
$text-xxs: ($text-base-size / ($text-scale-ratio * $text-scale-ratio * $text-scale-ratio)) !default;
/// Text font-size group
/// @type Length
$text-xs: ($text-base-size / ($text-scale-ratio * $text-scale-ratio)) !default;
/// Text font-size group
/// @type Length
$text-sm: ($text-base-size / $text-scale-ratio) !default;
/// Text font-size group
/// @type Length
$text-md: ($text-base-size * $text-scale-ratio) !default;
/// Text font-size group
/// @type Length
$text-lg: ($text-base-size * $text-scale-ratio * $text-scale-ratio) !default;
/// Text font-size group
/// @type Length
$text-xl: ($text-base-size * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio) !default;
/// Text font-size group
/// @type Length
$text-xxl: ($text-base-size * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio) !default;
/// Text font-size group
/// @type Length
$text-xxxl: ($text-base-size * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio) !default;
