/// Total number of columns
/// @type Number
$grid-column-nums: 12 !default;

/// get floor width of grid column
/// @param {Number} $i - number ratio of column width
/// @return percent ratio of column width
/// @require $grid-column-nums
@function floor-width($i) {
  $width: floor(100 * 100 * $i / $grid-column-nums) / 100;
  @return $width#{'%'};
}

/// column generator
/// @param {Number} $i [1] - number ratio of column width
@mixin column($i: 1) {
  float: left;
  width: floor-width($i);
  max-width: floor-width($i);
  min-height: 1px;
}

.grid-container {
  @include clearfix;
  @include container;

  @include respond-to(small-only) {
    padding-right: $space-sm;
    padding-left: $space-sm;
  }
}

.row {
  @include clearfix;
  display: block;
}


@for $i from 1 through $grid-column-nums {
  .col-#{$i} {
    @include column($i);
  }
}

@for $i from 1 through $grid-column-nums {
  @include respond-to(small-only) {
    .col-sm-#{$i} {
      @include column($i);
    }
  }

  @include respond-to(medium-only) {
    .col-md-#{$i} {
      @include column($i);
    }
  }
  
  @include respond-to(large-only) {
    .col-lg-#{$i} {
      @include column($i);
    }
  }

  @include respond-to(xlarge-only) {
    .col-xl-#{$i} {
      @include column($i);
    }
  }

  @include respond-to(xxlarge-up) {
    .col-xxl-#{$i} {
      @include column($i);
    }
  }
}
