/* color default config */
body {
  color: $color-text;
}

h1,
h2,
h3,
h4,
form legend {
  color: $color-text-heading;
}

a {
  color: $color-link;
}

/* color helper class */
@each $color-list, $selector in $color-lists {
  $primary-color: map-get($color-list , $color-primary-depth);

  .text-#{$selector} {
    color: $primary-color;

    @include bem-on-event {
      color: $primary-color;
    }
  }

  .bg-#{$selector} {
    background-color: $primary-color;

    @include bem-on-event {
      background-color: $primary-color;
    }
  }

  @each $depth, $color in $color-list {
    .text-#{$selector}-#{$depth} {
      color: $color;

      @include bem-on-event {
        color: $color;
      }
    }

    .bg-#{$selector}-#{$depth} {
      background-color: $color;

      @include bem-on-event {
        background-color: $color;
      }
    }
  }
}

.text-white {
  color: $color-white;

  @include bem-on-event {
    color: $color-white;
  }
}

.text-black {
  color: $color-black;

  @include bem-on-event {
    color: $color-black;
  }
}

.bg-white {
  background-color: $color-white;

  @include bem-on-event {
    background-color: $color-white;
  }
}

.bg-black {
  background-color: $color-black;

  @include bem-on-event {
    background-color: $color-black;
  }
}
