/* color default config */
h1,
h2,
h3,
h4,
form legend {
  color: $color-text-heading;
}

a {
  color: $color-link;

  &:visited {
    color: $color-link-visited;
  }
}

/* color helper class */
@each $color-list, $selector in $color-lists {
  $color: map-get($color-list , '7');

  .text-#{$selector} {
    color: $color;

    @include bem-on-event {
      color: $color;
    }
  }

  .bg-#{$selector} {
    background-color: $color;

    @include bem-on-event {
      background-color: $color;
    }
  }
}

.text-white {
  color: $color-white;

  @include bem-on-event {
    color: $color-white;
  }
}

.text-black {
  color: $color-black;

  @include bem-on-event {
    color: $color-black;
  }
}

.bg-white {
  background-color: $color-white;

  @include bem-on-event {
    background-color: $color-white;
  }
}

.bg-black {
  background-color: $color-black;

  @include bem-on-event {
    background-color: $color-black;
  }
}
