.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

.clearfix {
  @include clearfix;
}

.container {
  @include container;
}

.text-container {
  @include container;

  @include respond-to(small-only) {
    padding-right: $space-sm;
    padding-left: $space-sm;
  }
}

.text-align-center {
  @include text-align;
}

.link--underline {
  @include underline;
}
